<html>
<head>
	<title><%= @admin.fname %> <%= @admin.lname %></title>
</head>
<body>
	<img src="http://i.imgur.com/MieD8vs.jpg" width="100%" class="img img-responsive">
	<div class="container-fluid">
		<br>
		<div class="row">
			<div class="col-lg-3">
				<div class="panel panel-danger" style="border-color: #A50321;">
				<div class="panel-heading text-center panel-title" style="background-color: #A50321;"><i class="fa fa-exclamation-circle"></i> NEWSFEED</div>
					<div class="panel-body" style="border-color: #A50321;">
						<p></p>
					</div>
				</div>
				<br>
				<div class="panel panel-danger" style="border-color: #A50321;">
				<div class="panel-heading text-center panel-title" style="background-color: #A50321;"><i class="fa fa-tag"></i> CATEGORIES</div>
					<div class="panel-body" style="border-color: #A50321;">
						<a class="btn btn-default btn-block">Client Relations</a>
						<a class="btn btn-default btn-block">Computer Science</a>
						<a class="btn btn-default btn-block">Communication</a>
						<a class="btn btn-default btn-block">Entrepreneurship</a>						
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				
			</div>
			<div class="col-lg-3">
				<div class="panel panel-danger" style="border-color: #A50321;">
				<div class="panel-heading text-center panel-title" style="background-color: #A50321;"><i class="fa fa-video-camera"></i> RECENT</div>
					<div class="panel-body">

					</div>
				</div>
				
			</div>
		</div>
	</div>
</body>
</html>