<html>    
    <div class="container">
    <br>
        <div class="row"> 
          <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <div class="panel panel-danger" style="border-color: #A50321;">
              <div class="panel-heading text-center" style="background-color: #A50321;"><h3><i class="fa fa-bolt"></i> Create Notification</h3></div>
              <div class="panel-body">
              <%= render 'form' %>
              </div>
            </div>
          </div>
          <div class="hidden-xs hidden-sm col-md-3 col-lg-3 well well-lg">
            <%= link_to "Cancel", current_admin, :class => "btn btn-default btn-block" %>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          
          </div>
        </div> 
    </div>
</html>