<!DOCTYPE html>
<html>
  <head>
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.1/flatly/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
  <div class="container-fluid">
    <div class="col-lg-12">
      <div class="row">
        <div class="bg-primary">
          <strong><h1 class="text-center" style="padding: 20px;">Fitness Pass</h1></strong>
        </div>
      </div>
      <div class="row">       
        <h2>The Program</h2>
        <h4>
          The Fitness Pass gives students access to weekly fitness sessions including Cycling, Yoga, Weight-Training and even Zumba! Classes are all taught by our fabulous instructors 5 days a week! Sign for your pass today to get started on a journey to a healthier you!
        </h4>
        <h2>The Perks</h2>
        <ul>
        <h4>
          <li>Get <strong>UNLIMITED</strong> access to all of the Group Fitness Classes on campus!</li>
          <li>There’s a class for <strong>EVERYONE</strong>! We offer Indoor Cycling, Yoga, Zumba, and Spartan SGX</li>
          <li>Classes are held Monday-Friday, throughout the day</li>
          <li>Get you Fitness Pass <strong>TODAY</strong> and enjoy all of these classes for the rest of the semester!</li>
        </ul>
        </h4>
      </div><br>

      <div class="row">
        <div class="col-lg-6">
          <div class="panel panel-primary">
          <div class="panel-heading">Photos</div>
            <div class="panel-body">
              <div class="row">
                  <div class="col-lg-4">
                    <img src="http://www.bellymotions.com/wp-content/uploads/2014/07/Zumba-Class-Flyer.jpg" width="100%" height="100%">
                  </div>
                  <div class="col-lg-4">
                    <img src="http://www.workoutequipmentreviews.net/wp-content/uploads/2013/06/spin2.jpg" width="100%" height="100%">        
                  </div>
                  <div class="col-lg-4">
                    <img src="http://www.womenshealthmag.com/files/wh6_uploads/images/fitness-programs.jpg" width="100%" height="100%">        
                  </div>
              </div>
              <div class="row" style="padding-top: 10px;">
                  <div class="col-lg-4">
                    <img src="http://www.bellymotions.com/wp-content/uploads/2014/07/Zumba-Class-Flyer.jpg" width="100%" height="100%">
                  </div>
                  <div class="col-lg-4">
                    <img src="http://www.workoutequipmentreviews.net/wp-content/uploads/2013/06/spin2.jpg" width="100%" height="100%">        
                  </div>
                  <div class="col-lg-4">
                    <img src="http://www.womenshealthmag.com/files/wh6_uploads/images/fitness-programs.jpg" width="100%" height="100%">        
                  </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="panel panel-primary">
          <div class="panel-heading">Pricing</div>
            <div class="panel-body">
               <div class="col-lg-12">
                <div class="panel panel-primary"><div class="panel-heading"><div class="panel-title text-center">Students</div></div><div class="panel-body" style="padding: 0px;"><h1 class="text-center">$15</h1></div></div>
              </div>
              <div class="col-lg-12">
                <div class="panel panel-primary"><div class="panel-heading"><div class="panel-title text-center">Faculty</div></div><div class="panel-body" style="padding: 0px;"><h1 class="text-center">$30</h1></div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <br>
  <h2>Questions?</h2>
  <p class="lead">
  <i class="fa fa-envelope-square"></i> <a href="mailto:kathleen.kilcoyne@trincoll.edu" class="text-primary">Kathleen.Kilcoyne@trincoll.edu</a><br>
  <i class="fa fa-envelope-square"></i> <a href="mailto:kathleen.kilcoyne@trincoll.edu" class="text-primary">Nicholas.Cowell@trincoll.edu</a><br>
  <i class="fa fa-phone-square"></i> (802) 310-2624
  </p>
  </div>
  </div>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript">$('.carousel').carousel()</script>
  </body>
</html>